Package: freetype
Version: 2.12.1
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: abd823be53fa8f3e9edf05b642050d0bd63dafeea8fa4d586b79420992a0de5a
Description: A library to render fonts.
Type: Port
Default-Features: brotli, bzip2, png, zlib

Package: freetype
Feature: brotli
Depends: brotli
Architecture: x64-windows
Multi-Arch: same
Description: Support decompression of WOFF2 streams
Type: Port

Package: freetype
Feature: bzip2
Depends: bzip2
Architecture: x64-windows
Multi-Arch: same
Description: Support bzip2 compressed fonts.
Type: Port

Package: freetype
Feature: png
Depends: libpng
Architecture: x64-windows
Multi-Arch: same
Description: Support PNG compressed OpenType embedded bitmaps.
Type: Port

Package: freetype
Feature: zlib
Depends: zlib
Architecture: x64-windows
Multi-Arch: same
Description: Use zlib instead of internal library for DEFLATE
Type: Port
